body {
  margin: 0px;
}

.info {
  margin-top: 8px;
  padding-top: 28px;
  padding-bottom: 9px;
  position: fixed;
  left: 50%;
  background-color: white;
  width: 100%;
  transform: translate(-50%, 0);
}

.nav {
  height: 25px;
  width: 100%;
  background-color: #004990;
  border-bottom-style: outset;
  position: fixed;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  text-align: center;
  font-size: 15px;
  padding-top: 3px;
  color: #fff;
}

table th {
  position: sticky;
  top: 166px;
  z-index: 10;
  background: #fff;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

.mainContainer {
  padding: 7px;
  margin-bottom: 100px;
  margin-top: 140px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.user {
  font-size: 14px;
  position: absolute;
  padding-left: 4px;
  color: darkorange;
}

.visit {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4%;
}

@media only screen and (max-width: 600px) {
  .visit {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12%;
  }
}

.chip {
  width: 400px;
  color: #4c7caf;
  margin: 0 auto;
  padding: 0 25px;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.loading {
  color: #004990;
  line-height: 2;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  .chip {
    width: 75%;
    color: #4c7caf;
    margin: 0 auto;
    padding: 0 25px;
    height: 50px;
    font-size: 9px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.foot {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #004990;
  color: white;
  font-size: 12px;
  text-align: center;
  border-top-style: double;
}

.red {
  color: white;
  padding: 0px 3px 0px 3px;
  background-color: red;
  border-style: hidden;
  border-radius: 2px;
}

.green {
  color: white;
  padding: 0px 3px 0px 3px;
  background-color: green;
  border-style: hidden;
  border-radius: 2px;
}

form {
  margin: 0 auto;
  width: 250px;
}

.size {
  font-size: 13px;
}

.searchSize {
  font-size: 21px;
  padding-top: 5px;
}

#tab {
  text-align: center;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #tab {
    text-align: center;
    border-collapse: collapse;
    font-size: 8px;
    width: 100%;
    height: 100%;
  }
}

#tab td,
#tab th {
  border: 1px solid #ddd;
  padding: 5px;
}

#tab tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tab tr:hover {
  background-color: #ddd;
}

#tab th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #4bb04f;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchButton:focus {
  border: 1px solid #4bb04f;
}

.searchButton {
  height: 36px;
  border: 1px solid #4bb04f;
  background: #4bb04f;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
