#title {
  text-align: center;
  font-family: arial, sans-serif;
}

.mainContainer {
  min-height: 800px;
}

.visit {
  float: right;
}

.chip {
  width: 380px;
  color: #4c7caf;
  margin: 0 auto;
  padding: 0 25px;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

@media only screen and (max-width: 600px) {
  .chip {
    width: 300px;
    color: #4c7caf;
    margin: 0 auto;
    padding: 0 25px;
    height: 50px;
    font-size: 9px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.foot {
  padding-top: 10px;
  padding-bottom: 10px;
}

.red {
  color: white;
  padding: 0px 3px 0px 3px;
  background-color: red;
  border-style: hidden;
  border-radius: 2px;
}

.green {
  color: white;
  padding: 0px 3px 0px 3px;
  background-color: green;
  border-style: hidden;
  border-radius: 2px;
}

#footer {
  text-align: center;
  height: 3px;
  position: relative;
  bottom: 0;
  width: 100%;
  background: #4bb04f;
}

form {
  margin: 0 auto;
  width: 250px;
}

.size {
  font-size: 13px;
}

.searchSize {
  font-size: 21px;
  padding-top: 5px;
}

#tab {
  text-align: center;
  border-collapse: collapse;
  font-size: 15px;
  border: 3px solid #ddd;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #tab {
    text-align: center;
    border-collapse: collapse;
    font-size: 8px;
    border: 3px solid #ddd;
    width: 100%;
    height: 100%;
  }
}

#tab td,
#tab th {
  border: 1px solid #ddd;
  padding: 3px;
}

#tab tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tab tr:hover {
  background-color: #ddd;
}

#tab th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #4bb04f;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchButton:focus {
  border: 1px solid #4bb04f;
}

.searchButton {
  height: 36px;
  border: 1px solid #4bb04f;
  background: #4bb04f;
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
